@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model IEnumerable<BorrowLend.Models.Item>
    <div class="container p-3">
        <div class="row pt-4">
            <h2 class="text-primary">
                Borrowed items list
            </h2>
            <div class="col-6 text-right">
                <a class="btn btn-primary w-75" asp-controller="Item" asp-action="Create">Create new item</a>
            </div>
        </div>
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                <th> Item name </th>
                <th> Borrower </th>
                <th> Lender </th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @item.ItemName </td>
                            <td> @item.Borrower </td>
                            <td> @item.BorrLender </td>
                            <td width="25%">
                                <a class="btn btn-success m-1" asp-controller="Item" asp-action="Update" asp-route-id=@item.Id>Update</a>
                                <a class="btn btn-danger m-1" asp-controller="Item" asp-action="Delete" asp-route-id=@item.Id>Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
}
